<a href="https://colab.research.google.com/github/Hanan7i/Python-Labs/blob/main/Hanan(461001821)Determined_Error.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise** **1**     :  **Syntax** **Errors** (**Print** & **Comments**)

From Lab 1

Question 1A

Find and correct the errors in the following code:

 This program prints a welcome message

print("Welcome to Python Programming!)

 Printing student name and course

print("Name: John Doe"

print("Course: Python Basics")

Tasks:

1. Identify the syntax errors.

2. Rewrite the corrected program.

In [1]:
print("Welcome to Python Programming!")
print("Name: John Doe")
print("Course: Python Basics")

Welcome to Python Programming!
Name: John Doe
Course: Python Basics

**Question** **1B**

Find the mistakes:

 This program prints student details

Print("Welcome to Python Programming!")

 printing name

print("Name: John Doe")

 printing course

print(Course: Python Basics)

Tasks:

1. Identify at least two errors.

2. Correct the code.

In [2]:
print("Welcome to Python Programming!")
print("Name: John Doe")
print("Course: Python Basics")

Welcome to Python Programming!
Name: John Doe
Course: Python Basics

**Exercise** **2**: **Indentation** **and** **Structure** **Errors**

From Lab 1

Question 2A

 Program to print welcome message

   print("Welcome to Python Programming!")

print("Name: John Doe")

print("Course: Python Basics")

Tasks:

1. Identify indentation errors.

2. Rewrite the correct version.

In [3]:
print("Welcome to Python Programming!")
print("Name: John Doe")
print("Course: Python Basics")

Welcome to Python Programming!
Name: John Doe
Course: Python Basics

**Exercise** **3**: **Data** **Type** **Errors**

From Lab 1

Question 3A

Find the data type mistakes:

student_name = Alice

age = "20"

gpa = 3,75

subjects = ("Math", "Python", "Physics")

skills = ["Python", "SQL"]

is_enrolled = "True"

graduation_date = Null

Tasks:

1. Identify incorrect data type assignments.

2. Rewrite with correct Python syntax.

In [6]:
student_name = "Alice"
age =20
gpa = 3,75
subjects = ("Math", "Python", "Physics")
skills = ["Python", "SQL"]
is_enrolled = True
graduation_date = None

**Exercise** **4**: **type**() **Function** **Errors**

From Lab 1

Question 4A

student_name = "Alice"

age = 20

print(student_name, type student_name)

print(age, type(age)

Tasks:

1. Identify syntax mistakes.

2. Correct the code.

In [7]:
student_name = "Alice"
age = 20
print(student_name, type( student_name))
print(age, type(age))

Alice <class 'str'>
20 <class 'int'>

**Exercise** **5**: **Logical** **and** **Output** **Errors**

From Lab 1

Question 5A

student_info = {"id": 101, "year": 2}

print("Student ID: " + student_info["id"])

Tasks:

1. Identify the error.

2. Explain why it occurs.

3. Fix the code.

In [8]:
student_info={"id":101,"year":2}
print("Student ID: " , student_info["id"])

Student ID:  101

**Exercise** **6**: **Set** **and** **Dictionary** **Errors**

From Lab 1

Question 6A

skills = {"Python", "SQL", "Python"}

print(skills[0])

Tasks:

1. Identify two logical issues.

2. Explain why they occur.

3. Suggest a correction.

In [10]:
skills = {"Python", "SQL", "c#"}
for x in skills:
 print(x)

SQL
c#
Python

**Exercise** **7**: **Mixed** **Errors** (**Comprehensive**)

From Lab 1

Question 7A

 Lab Week 1 Practice

student_name = "Alice

age = 20

gpa = 3.75

subjects = ["Math", "Python", Physics"]

student_info = {"id": 101, "year": 2}

print("Name:", student_name)

print("Age:" age)

print("GPA:", gpa)

print("Subjects:", subjects)

print("Info:", student_info)

Tasks:

1. Find all syntax and logical errors.

2. Rewrite the fully corrected version.

In [11]:
student_name = "Alice"
age = 20
gpa = 3.75
subjects = ["Math", "Python","Physics"]
student_info = {"id": 101, "year": 2}
print("Name:", student_name)
print("Age:" ,age)
print("GPA:", gpa)
print("Subjects:", subjects)
print("Info:", student_info)

Name: Alice
Age: 20
GPA: 3.75
Subjects: ['Math', 'Python', 'Physics']
Info: {'id': 101, 'year': 2}

Exercise 1: Two Numbers Calculator

From lab 2

Question 1A

Find and correct the errors:

a = input("Enter first number: ")

b = input("Enter second number: ")

print("Sum =", a + b)

print("Difference =", a - b)

print("Product =", a * b)

print("Division =", a / b)

Tasks:

1. Identify the problem.

2. Explain why the error occurs.

3. Rewrite the corrected code.

In [12]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Division =", a / b)

Enter first number: 5
Enter second number: 6
Sum = 11
Difference = -1
Product = 30
Division = 0.8333333333333334

**Question** **1B** (**Syntax** **Error**)

a = float(input("Enter first number: ")

b = float(input("Enter second number: "))

print("Sum =", a + b)

Tasks:

1. Identify the syntax mistake.

2. Correct the program.

In [13]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Sum =", a + b)

Enter first number: 7
Enter second number: 7
Sum = 14.0

**Exercise** **2**: **Salary** **Calculation**

Question 2A

salary = float(input("Enter basic salary: "))

bonus = input("Enter bonus: ")

total_salary = salary + bonus

print("Total Salary =", total_salary)

Tasks:

1. Identify the type-related error.

2. Explain what will happen when the program runs.

3. Fix the code.

In [15]:
salary = float(input("Enter basic salary: "))
bonus = int(input("Enter bonus: "))
total_salary = salary + bonus
print("Total Salary =", total_salary)

Enter basic salary: 66
Enter bonus: 7
Total Salary = 73.0

**Question** **2B** (**Logical** **Error**)

salary = float(input("Enter basic salary: "))

bonus = float(input("Enter bonus: "))

total_salary = salary - bonus

print("Total Salary =", total_salary)

Tasks:

1. Identify the logical mistake.

2. Correct the formula.

In [16]:
salary = float(input("Enter basic salary: "))
bonus = float(input("Enter bonus: "))
total_salary = salary + bonus
print("Total Salary =", total_salary)

Enter basic salary: 77
Enter bonus: 99
Total Salary = 176.0

**Exercise** **3**: **Marks** **and** **Average**

Question 3A

m1 = float(input("Enter mark 1: "))

m2 = float(input("Enter mark 2: "))

m3 = float(input("Enter mark 3: "))

total = m1 + m2 + m3

average = total / 2

print("Total Marks =", total)

print("Average Marks =", average)

Tasks:

1. Identify the logical error.

2. Correct the average calculation.

In [18]:
m1 = float(input("Enter mark 1: "))
m2 = float(input("Enter mark 2: "))
m3 = float(input("Enter mark 3: "))
total = m1 + m2 + m3
average = total / 3
print("Total Marks =", total)
print("Average Marks =", average)

Enter mark 1: 6
Enter mark 2: 7
Enter mark 3: 4
Total Marks = 17.0
Average Marks = 5.666666666666667

**Question** **3B** (**Syntax** + **Name** **Error**)

m1 = float(input("Enter mark 1: "))

m2 = float(input("Enter mark 2: "))

m3 = float(input("Enter mark 3: "))

total = m1 + m2 + m3

print("Total Marks =", total)

print("Average Marks =", total / three)

Tasks:

1. Identify the error.

2. Explain why it occurs.

3. Fix the program.

In [19]:
m1 = float(input("Enter mark 1: "))
m2 = float(input("Enter mark 2: "))
m3 = float(input("Enter mark 3: "))
total = m1 + m2 + m3
print("Total Marks =", total)
print("Average Marks =", total / 3)

Enter mark 1: 5
Enter mark 2: 6
Enter mark 3: 7
Total Marks = 18.0
Average Marks = 6.0